---
layout: page
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  <p class="post-meta">
    <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
      {{ page.date | date: "%b %-d, %Y" }}
    </time>
    {% if page.author %}
      by <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>
    {% endif %}
    <ul class="tags">
    {% for tag in page.tags %}
      {% assign post_tags = site.post_tags | where: 'slug', tag %}
      {% for post_tag in post_tags %}
        <li><a href="{{ post_tag.url }}" class="tag">{{ post_tag.title }}</a></li>
      {% endfor %}
    {% endfor %}
    </ul>
  </p>
  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>
</article>
